<p id="notice"><%= notice %></p>

<p>
Estamos processando seu video, esse processo pode demorar alguns minutos, por isso, fique tranquilo, assim que estiver pronto enviaremos um email com o link de download.
</p>
