Oi!<br />
Emerson do <a href="http://megafono.io">Megafono</a>
<br />
Seu video para o audio <%= @conversion.audio_url %> está pronto e pode ser acessado via a url:<br />
<br />
<%= link_to @conversion.movie_url, @conversion.movie_url %>
<br />
<br />
Abraços,<br />
Emerson<br />
<br />
PS: O link está disponivel por 7 dias ;)
