<!DOCTYPE html>
<html>
  <head>
    <title>Megafono - Podcast to Video</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header header--homepage header--center">
      <div class="wrapper">
        <h1 class="header__logo-text"><a href="http://megafono.io">Megafono</a> </h1>
      </div>
    </header>
    <div class="wrapper wrapper--margin">
      <%= yield %>
    </div>
  </body>
</html>
